<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img  src="https://tse3.mm.bing.net/th?id=OIP.t-ee1sZa3TZI6onT8lDuWQHaF-&pid=Api&P=0&w=188&h=152" alt="WCE">
    <h1 class="display-3">Oral Exam Portal</h1>
    <p class="lead">Online Fast & Secure</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/student" role="button">Student</a>
    <hr>
    <a class="btn btn-light btn-lg" href="/sign_upS" role="button">Sign Up</a>
    <a class="btn btn-dark btn-lg" href="/loginS" role="button">Login </a>
    <hr>
    <a class="btn btn-light btn-lg" href="/faculty" role="button">Faculty</a>
    <hr>
    <a class="btn btn-light btn-lg" href="/sign_upT" role="button">Sign Up</a>
    <a class="btn btn-dark btn-lg" href="/loginT" role="button">Login </a>
    <hr>
  </div>
</div>


